.Header {
    margin: auto;
    text-align: center;
    border-bottom:solid;
    border-color: gray;
    color: #0e3c7e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

